<!DOCTYPE html>
<html lang="en">

<head>
    <title>Feed</title>

    <%- include('./template/head'); %>
        <style>
            @media (min-width: 1200px) {
                .container,
                .container-lg,
                .container-md,
                .container-sm,
                .container-xl {
                    max-width: 600px !important;
                }
            }
            
            .fas.fa-hand-holding-heart {
                color: rgb(61, 61, 61);
            }
            .fas.fa-hand-holding-heart.liked{
                color: rgb(255, 46, 46);
            }
        </style>
</head>

<body>

    <div class="container pt-4">

        <h1>Posts</h1>
        <a href="/logout">LogOut</a>
        <hr>
        <a href="/post/new">
            <button class="btn btn-secondary btn-block">New Post</button>
        </a>
        <br>

        <% posts.forEach(post => { %> 
        <div class="single-post">
            <img src="<%= post.url %>" width="100%" alt="">
            <div class="pt-2" style="font-size:22px">
                <% if(post.liked){ %>
                        <i class="fas fa-hand-holding-heart liked"></i> <%= post.likesnumber %>
                <% }else{ %>
                    <a href="/post/like/<%= post.postid %>">
                        <i class="fas fa-hand-holding-heart" style="cursor:pointer"></i> <%= post.likesnumber %>
                    </a>
                <% } %>
                <span> | </span>
                <i class="fas fa-comments"></i> <%= post.commentsnumber %>
            </div>
            <a href="/feed/single/<%= post.postid %>">
                <div class="pt-2">
                    <p style="font-weight: 100;color: #000;"><strong style="margin-right: 15px"><%= post.username %></strong> <%= post.description %></p>
                    <small style="color: darkgray;font-weight: 100;">Posted at : <%= post.date %></small>
                </div>
            </a>
        </div>
        <!-- single-post -->
        <hr>
        <% }) %>

    </div>

    <script>
        function like(postid) {
            alert("ALERT : " + postid)
        }
    </script>

</body>

</html>