<!DOCTYPE html>
<html lang="en">

<head>
    <title>Feed</title>

    <%- include('./template/head'); %>

</head>

<body>

    <%- include('./template/header'); %>

        <div class="container" style="margin-top:50px; margin-bottom: 50px;">

            <% posts.forEach((post)=>{   %>
                <!-- Render posts -->
                <div class="single-post">


                    <div class="d-flex justify-content-between">
                        <div class="my-2">
                            <img src="<%= post.avatar %>" alt="Avatar" class="avatar mr-1">
                            <span><%= post.username %></span>
                        </div>
                        <div class="p-1 d-flex align-items-center">
                            <a href="#">
                                <i class="fas fa-ellipsis-v mr-3"></i>
                            </a>
                        </div>
                    </div>


                    <img src="<%= post.url %>" alt=" " width="100% ">
                    <div class="pt-2 " style="font-size:22px ">
                        <div class="d-flex justify-content-between">
                            <div>
                                <a href="/feed/<%= post.postid %>">
                                    <i class="<%= post.yourLike %>"></i>
                                </a>
                                <%= post.likes.length %>
                                    <span> | </span>
                                    <i class="fas fa-comments "></i>
                                    <%= post.comments.length %>
                            </div>
                        </div>
                    </div>


                    <a href="/feed/single/<%= post.postid %> " style="text-decoration: none;">
                        <div class="pt-2 ">
                            <p style="font-weight: 100;color: #000; "><strong style="margin-right: 15px "><%= post.username %></strong>
                                <%= post.description %>
                            </p>
                            <small style="color: darkgray;font-weight: 100; ">Posted at : <%= post.date %></small>
                        </div>
                    </a>
                </div>
                <!-- single-post -->

                <hr>
                <!-- Render posts -->

                <% })  %>
        </div>

        <%- include('./template/footer'); %>

            <script>
                function like(postid) {
                    alert("ALERT : " + postid)
                }
            </script>

</body>

</html>