<!DOCTYPE html>
<html lang="en">

<head>
    <title>Single Post</title>

    <%- include('./template/head'); %>
        <style>
            @media (min-width: 1200px) {
                .container,
                .container-lg,
                .container-md,
                .container-sm,
                .container-xl {
                    max-width: 600px !important;
                }
            }
            
            .fas.fa-hand-holding-heart {
                color: rgb(61, 61, 61);
            }
            .fas.fa-hand-holding-heart.liked{
                color: rgb(255, 46, 46);
            }
        </style>
</head>

<body>

    <div class="container pt-4">

        <div>
            <h1>Ali Dasmeh posted</h1>
            <small style="color: darkgray;font-weight: 100;">Posted at : <%= post.date %></small>
        </div>
        <br>
        <img src="<%= post.url %>" width="100%" alt="">

        <div class="pt-2" style="font-size:22px">
            <% if(post.liked){ %>
                    <i class="fas fa-hand-holding-heart liked"></i> <%= post.likesnumber %>
            <% }else{ %>
                <a href="/post/likeFromSignlePost/<%= post.postid %>">
                    <i class="fas fa-hand-holding-heart" style="cursor:pointer"></i> <%= post.likesnumber %>
                </a>
            <% } %>
            <span> | </span>
            <i class="fas fa-comments"></i> <%= post.commentsnumber %>
        </div>
        <div class="pt-2">
            <p style="font-weight: 100;color: #000;"><strong style="margin-right: 15px"> <%= post.username %></strong> <%= post.description %></p>
        </div>
        <hr>

        <br>
        <h3>Comments</h3>
        <div class="comments">

            <% comments.forEach(comment=>{ %>
                <div class="comment">
                    <small style="color: darkgray;font-weight: 100;">Posted at : <%= comment.date %></small>
                    <p style="font-weight: 100;color: #000;"><strong style="margin-right: 15px"> <%= comment.username %> </strong> <%= comment.text %></p>
                </div>
                <hr>
            <% }) %>

        </div>

        <form action="/post/leavecomment" method="post">
            <input type="text" name="postid" value="<%= post.postid %>" style='display: none;'>
            <textarea name="comment" class="form-control" placeholder="leave your comment" style="margin-bottom: 12px;" rows="5"></textarea>
            <button class="btn btn-success">Send</button>
        </form>

    </div>

    <br>
    <br>
    <br>
</body>

</html>